* {
    font-family: 'Segoe UI';
}

body {
    width: 650px;
    margin: 5px 10px 20px;
}

input[type="button"] {
    cursor: pointer;
}

.url {
    vertical-align: bottom;
    width: calc(100% - 10px);
    margin: 10px 0 10px;
}

#query-box {
    margin: 10px 0 0;
}

#query-box div {
    display: flex;
    box-sizing: border-box;
}

#query-box div input {
    flex: 1;
    margin: 0 -1px -1px 0;
}

#add-query, #remove-query {
    width: 30px;
    background: #ddd;
    border: 0;
    margin: 3px 0 10px;
    text-align: center;
    cursor: pointer;
}

.history-item {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.history-item .history-item-url {
    flex: 1;
}

.history-item .history-item-url span {
    flex: 1;
    cursor: pointer;
    color: #0c85cc;
    word-break: break-all;
}

.history-item .history-item-url span:hover {
    text-decoration: underline;
}

.history-item .history-item-close {
    display: none;
    color: red;
    cursor: pointer;
}

.history-item:hover .history-item-close {
    display: inline;
}

.history-item:hover .history-item-close:hover {
    font-weight: bolder;
}