body {
    max-height: 100vh;
    margin: 0;
    width: 800px;
    font-family: monospace;
    font-size: 12px;
    color: #333;
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#NTP_HELPER-ROOT {
    padding: 10px 20px 20px;
}

textarea {
    word-break: break-word;
    padding: 10px;
    line-height: 1.5;
    border-radius: 0;
    border: 1px solid #ccc;
}

textarea:focus {
    outline: none;
    background: linear-gradient(to right,  #297fb96e, #2ecc706e);
}

button {
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    margin-bottom: 3px;
    margin-right: 3px;
    min-width: 24px;
    border: 0;
    border-radius: 0;
    background-color: #dedede;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.url {
    vertical-align: bottom;
    width: calc(100% - 20px);
    margin: 10px 0 10px;
}

button#new, button#copy, button#open {
    padding: 0 6px;
}

button#copy {
    color: #fff;
    background-color: #297fb9;
}

button#open {
    color: #fff;
    background-color: #2ecc70;
    border: 0;
}

#query-box {
    margin: 10px 0 0;
}

#query-box .query-btn_rm {
    font-size: 22px;
}

#query-box .query-btn_rm:hover {
    color: red;
}

#query-box > div {
    display: flex;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 3px;
}

#query-box input {
    padding: 0 3px;
    border: 0;
    height: 24px;
    line-height: 24px;
    border-radius: 0;
}

#query-box input:focus {
    background: linear-gradient(to right,  #297fb96e, #2ecc706e);
    outline: 0;
}

#query-box .key-input {
    width: 100%;
    flex: 1;
}

#query-box .value-input {
    flex: 5;
    position: relative;
}

#query-box .value-input input {
    width: 100%;
}

#add-query {
    color: #fff;
    font-size: 22px;
    background: linear-gradient(to right,  #297fb9, #2ecc70);
}

#history {
    margin-top: 20px;
}

.history-item {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.history-item .history-item-url {
    cursor: pointer;
    word-break: break-all;
}

.history-item .history-item-url:hover {
    text-decoration: underline;
}

.history-item .history-item-close {
    font-size: 22px;
}

.history-item:hover .history-item-close:hover {
    color: red;
}

.debug-btn {
    float: right;
}

.flight-btn {
    display: flex;
    justify-content: flex-end;
}

.srchList {
    border-radius: 0;
    position: absolute;
    z-index: 1;
    background: #efefef;
    border: solid 1px #777;
    top: 24;
    width: 100%;
}

.srchList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.srchList ul li {
    cursor: pointer;
    line-height: 24px;
    padding: 0 6px;
}

.srchList ul li:hover {
    background: #ccc;
}