body {
  max-height: 100vh;
  margin: 0;
  width: 750px;
  font-family: monospace;
  font-size: 12px;
  color: #fff;
  font-family: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
  background: rgb(51, 51, 51);
}

#ROOT {
  padding: 0 10px 10px;
}

h3 {
  margin: 5px 0;
}

.url {
  word-break: break-all;
  padding: 8px;
  line-height: 1.5;
  border: 1px solid #6b6b6b;
  background: #2b2b2b;
  border-radius: 2px;
  vertical-align: bottom;
  width: calc(100% - 20px);
  color: #ccc;
}

.url:focus {
  color: #fff;
  outline: none;
  border-color: #545454;
}

button {
  color: #fff;
  cursor: pointer;
  height: 28px;
  line-height: 28px;
  margin-bottom: 6px;
  margin-right: 6px;
  min-width: 28px;
  border: 0;
  border-radius: 3px;
  padding: 2px 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#new {
  float: right;
  cursor: pointer;
  border-bottom: 1px solid #4ea1e1;
  text-decoration: none;
  color: #4ea1e1;
  margin-left: 6px;
}

#new:hover {
  border-bottom: 2px solid #68afe5;
  color: #68afe5;
}

button#copy,
button#open {
  background: #006cbe;
}

button#copy:hover,
button#open:hover {
  background: #0078d4;
}

.action-btn-container {
  margin: 12px 0 0;
}

#query-box {
  margin: 12px 0 0;
}

#query-box .query-btn_rm {
  font-size: 20px;
  background-color: transparent;
  color: #f64747;
}

#query-box .query-btn_rm:hover {
  font-weight: bolder;
}

#query-box > div {
  display: flex;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 3px;
  line-height: 28px;
}

#query-box input {
  color: #fff;
  padding: 0 3px;
  height: 28px;
  border: 1px solid #6b6b6b;
  background: #2b2b2b;
  border-radius: 2px;
}

#query-box input:focus {
  border-color: #545454;
  outline: 0;
}

#query-box .key-input {
  width: 100%;
  flex: 2;
}

#query-box .value-input {
  flex: 8;
  position: relative;
}

#query-box .value-input input {
  width: calc(100% - 10px);
}

#add-query {
  color: #fff;
  font-size: 14px;
  padding: 0 6px;
  background: transparent;
}

#add-query:hover {
  background: #404040;
}

.srchList {
  position: absolute;
  z-index: 1;
  top: 28;
  width: 100%;
  max-height: 500px;
  overflow: auto;
  background: transparent;
  padding-bottom: 12px;
}

.srchList ul {
  box-shadow: -1px 1px 6px #101010;
  border: 1px solid #6b6b6b;
  background: #2b2b2b;
  border-radius: 2px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.srchList ul li {
  cursor: pointer;
  line-height: 28px;
  padding: 0 8px;
  display: flex;
}

.srchList ul li:hover {
  border-color: #545454;
  background-color: #111;
}

.srchList ul li span {
  flex: 1;
  word-break: break-all;
}

.history-item-close {
  margin-top: 2px;
  font-size: 20px;
  color: #f64747;
  background-color: transparent;
}

.history-item-close:hover {
  font-weight: bolder;
}

.copyright {
  font-size: 6px;
  color: #ccc;
  float: right;
}
